{
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"tailwindStylesheet": "./src/styles/global.css"
}
