---
import { getRelativeLink } from '~/utils/permalinks';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-zinc-900 whitespace-nowrap dark:text-white">
  <img src={getRelativeLink('images/tuhura-tech.png')} style="height: 2em;" alt="Tuhura-Tech-Logo" />
</span>
