---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';

import Contact from "~/components/widgets/Contact.astro"

const meta = {
  title: SITE.title,
  description: "Contact Us",
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
    <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
      <h2 class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase">Contact Us</h2>
      <p class="mt-2 text-muted dark:text-slate-400">
        Have something to say? We are here to help. Fill up the form or send
        email or call phone.
      </p>
      <div class="mt-5">
          <a href="mailto:contact@tuhuratech.org.nz">contact@tuhuratech.org.nz</a>
      </div>
    </div>
    <div>
      <Contact />
    </div>
  </div>
</Layout>
