---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Hero
    callToAction={{ text: 'Get Involved', href: '/involved' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
  >
    <Fragment slot="title">Empowering the next generation through technology education</Fragment>

    <Fragment slot="subtitle">
      At Tūhura Tech, our mission is to provide free technology education to children in the Wellington region. We
      believe that every child should have the opportunity to learn about and engage with technology, regardless of
      their background or financial situation.
    </Fragment>
  </Hero>

  <div id="what-we-do">
    <Content
      title="What we do"
      items={[
        {
          title: 'After school clubs',
          description:
            'At the core of what we do is after school clubs with a mix of our volunteers both from industry and other areas to provide a fun and relaxed environment to explore technology.',
        },
        {
          title: 'In school sessions',
          description:
            'We work closely with schools to deliver specialised sessions during schools hours to expand on the areas of technology the school can cover.',
        },
        {
          title: 'Coaching',
          description:
            'A number of our students qualify and compete in competitions across Aotearoa. We work with both our teams and teams in the area to support them in their goals.',
        },
      ]}
    >
      <Fragment slot="content">
        We have several ways that we are able to support students with our key focuses being on the below areas.
      </Fragment>
    </Content>
  </div>

  <FAQs
    title="Frequently Asked Questions"
    highlight="FAQs"
    items={[
      [
        {
          question: 'Who is this for?',
          answer:
            'We support and deliver content to students from year 7-13 in the Wellington, Lower & Upper Hutt regions.',
        },
        {
          question: 'How are we funded?',
          answer:
            'As a charitable trust we rely on sponsorships and donations from the community and companies, this allows us to run all of our sessions for free. If you are your company are interested in supporting us we would love to talk to you.',
        },
        {
          question: 'How do I help out?',
          answer:
            'We are looking for anyone with an interesting in technology from current University students to industry professionals, we would love if you would send us an email at <a href="mailto:contact@tuhuratech.org.nz" style="color: #e5e7eb" onmouseover="this.style.textDecoration = \'underline\'" onmouseout="this.style.textDecoration = \'none\'">contact@tuhuratech.org.nz</a>.',
        },
      ],
      [
        {
          question: 'How do I get involved as a student?',
          answer:
            'If we are not already running sessions at your school feel free to come to one of our after school sessions at a nearby school or ask your teacher to get in touch with us.',
        },
        {
          question: 'What areas of Technology do we cover?',
          answer:
            'We cover many areas of technology with a focus on expanding what is covered in schools, this includes areas such as robotics, cybersecurity, AI/ML and more.',
        },
      ],
    ]}
  />
</Layout>
