---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
  <Hero
    title="Tūhura Tech"
    ,
    subtitle="Empowering the next generation through"
    ,
    subtitleColor="Technology Education"
    ,
    content="At Tūhura Tech, our mission is to provide free technology education to children in the Wellington region. We believe that every child should have the opportunity to learn about and engage with technology, regardless of their background or financial situation."
  />
  <Features
    title="Our Mahi"
    subtitle="We work across various areas with a focus on providing free or affordable sessions and support to kids 18 and under. Below is a snapshot of some of the work we do to accomplish this goal."
    items={[
      [
        {
          title: 'After School Sessions',
          description:
            'We run free after school sessions at a variety of schools and community centres across school years 5-13 providing spaces where students can explore technology with the support of our staff and volunteers.',
          icon: 'tabler:code',
        },
        {
          title: 'Public Resources',
          description:
            'All the resources and guides we create are available for free and publicly under CC BY-SA 4.0, MIT or AGPLv3+ Licenses including resources for NCEA.',
          icon: 'tabler:book',
        },
        {
          title: 'Workshops',
          description:
            'In collaboration with Industry or our other partners we run one off workshops on a variety of topics from VEX Robotics to 3D Printing.',
          icon: 'grommet-icons:workshop',
        },
      ],
      [
        {
          title: 'In School Sessions',
          description:
            'We work closely with several schools to support their classes or run outreach sessions during school time to provide greater opportunities to students.',
          icon: 'tabler:school',
        },
        {
          title: 'Coaching',
          description:
            'Working across a range of subjects we coach and support teams and students who compete in a variety of competitions from CyberSecurity to Mechanical/Electrical Engineering.',
          icon: 'tabler:robot',
        },
        {
          title: 'Professional Development',
          description:
            'Taking our experience at schools and industry we support digitech teachers with Professional Development.',
          icon: 'mdi:university',
        },
      ],
    ]}
  />

  <Features2
    title="Our Sessions"
    subtitle="These are the locations where we are actively running sessions with more added all the time."
    items={[
      {
        title: 'Wellington Girls College',
        description: 'After school club every Monday from 3:30-5:30pm, Year 11-13, no signup needed',
      },
      {
        title: 'Wellington High School',
        description: 'After school club every Tuesday from 3:30-5:30pm, year 9-13, no signup needed.',
      },
      {
        title: 'Strathmore Park Community Centre',
        description:
          'Intro to programming every Tuesday from 3:30-5:00pm, year 5-8, <a class="text-primary" href="https://forms.gle/8KScND39SpT7ZfBF6">signup here</a>.',
      },
      { title: 'Wellington East Girls College', description: 'During school outreach to years 12 and 13.' },
      {
        title: 'Wellington College',
        description: 'After school club every Wednesday from 3:30-5:30pm, Year 11-13, no signup needed.',
      },
      { title: 'Wā Ora Montessori School', description: 'During school outreach to years 7, 8 and 9.' },
      { title: 'South Wellington Intermediate School', description: 'During school outreach to years 7 and 8.' },
      {
        title: 'Looking for more sessions',
        description:
          '<a class="text-primary" href="/contact">Contact us</a> if you know somewhere we could help as we would love to provide support.',
      },
    ]}
  />
  <Stats
    title="Stats"
    items={[
      { name: 'Kids', value: '500+' },
      { name: 'Schools', value: '8' },
      { name: 'Community Centres', value: '2' },
      { name: 'Sessions', value: '300+' },
    ]}
  />
  <FAQs
    title="Frequently Asked Questions"
    items={[
      [
        {
          question: 'Who is this for?',
          answer:
            'We support and deliver content to students from year 7-13 in the Wellington, Lower & Upper Hutt regions.',
        },
        {
          question: 'How are we funded?',
          answer:
            'As a charitable trust we rely on sponsorships and donations from the community and companies, this allows us to run all of our sessions for free. If you are your company are interested in supporting us we would love to talk to you.',
        },
        {
          question: 'How do I help out?',
          answer:
            'We are looking for anyone with an interesting in technology from current University students to industry professionals, we would love if you would send us an email at <a href="mailto:contact@tuhuratech.org.nz" class="text-blue-600 hover:underline dark:text-gray-200">contact@tuhuratech.org.nz</a>.',
        },
      ],
      [
        {
          question: 'How do I get involved as a student?',
          answer:
            'If we are not already running sessions at your school feel free to come to one of our after school sessions at a nearby school or ask your teacher to get in touch with us.',
        },
        {
          question: 'What areas of Technology do we cover?',
          answer:
            'We cover many areas of technology with a focus on expanding what is covered in schools, this includes areas such as robotics, cybersecurity, AI/ML and more.',
        },
        {
          question: 'Who are we?',
          answer:
            'We are a group of volunteers, teachers and industry professionals who all care about technology and want to support students.',
        },
      ],
    ]}
  />
  <CallToAction
    title="Come Join Us"
    ,
    subtitle="We consist of a team of passionate staff and volunteers focused on Technology Education.\nAny help with content, resources, volunteering, sponsorship, technology support, old hardware or any other domain is greatly appreciated."
    ,
    callToAction={{ text: 'Support Us', href: '/support-us' }}
  />
</Layout>
