---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';

const meta = {
  title: SITE.name,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
  <Hero
    title="Tūhura Tech"
    subtitle="Empowering the next generation through "
    subtitleColor="Technology Education"
    content="At Tūhura Tech, our mission is to provide free technology education to children in the Wellington region. We believe that every child should have the opportunity to learn about and engage with technology, regardless of their background or financial situation."
  />
  <Features
    title="Our Mahi"
    subtitle="We work across various areas with a focus on providing free/affordable sessions and support to kids aged 18 and under. Below is an overview of some of the work we do to accomplish this goal."
    items={[
      [
        {
          title: 'After School Sessions',
          description:
            'We run free after-school sessions at a variety of schools and community centres across school years 5-13 providing spaces where students can explore technology with the support of our staff and volunteers.',
          icon: 'tabler:code',
        },
        {
          title: 'Public Resources',
          description:
            'All the resources and guides we create are available for free and publicly under CC BY-SA 4.0, MIT or AGPLv3+ Licences including resources for NCEA.',
          icon: 'tabler:book',
        },
        {
          title: 'Workshops',
          description:
            'In collaboration with industry or our other partners, we run one off workshops on a variety of topics from VEX Robotics to 3D Printing.',
          icon: 'grommet-icons:workshop',
        },
      ],
      [
        {
          title: 'In School Sessions',
          description:
            'We work closely with several schools to support their classes or run outreach sessions during school time to provide greater opportunities to students.',
          icon: 'tabler:school',
        },
        {
          title: 'Coaching',
          description:
            'Working across a range of subjects, we coach and support teams and students who compete in a variety of competitions, from cybersecurity to mechanical/electrical engineering.',
          icon: 'tabler:robot',
        },
        {
          title: 'Professional Development',
          description:
            'Taking our experience at schools and industry, we support digital technology teachers with Professional Development.',
          icon: 'mdi:university',
        },
      ],
    ]}
  />

  <Features2
    title="Our Sessions"
    subtitle="These are the locations where we actively run sessions with more added all the time."
    items={[
      {
        title: "Wellington Girls' College",
        description: 'After school every Monday from 3:30pm to 5:30pm for students in years 9 to 13; no sign-up needed',
      },
      {
        title: 'Wellington High School',
        description:
          'After-school club every Tuesday from 3:30pm to 5:30pm for students in years 9 to 13; no sign-up needed.',
      },
      {
        title: 'Te Tūhunga Rau Community Centre',
        description:
          'Introduction to programming every Tuesday from 3:30pm to 5:00pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/uCXEsoksTq3tSEBfA">sign up here</a>.',
      },
      { title: 'Wellington East Girls College', description: 'During-school outreach to students in year 12 and 13.' },
      {
        title: 'Wellington College',
        description:
          'After-school club every Wednesday from 3:30pm to 5:30pm for students in years 9 to 10; no sign-up needed.',
      },
      {
        title: 'Te Whare Pukapuka o Te Māhanga - Karori Library',
        description:
          'Introduction to programming every Wednesday from 3:30pm to 5:30pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/PqwLGaTZJPuT4tLc6">sign up here</a>.',
      },
      {
        title: 'Ruakawa Community Centre',
        description:
          'Introduction to programming every Thursday from 3:30pm to 5:00pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/yxiPE7ccqQ6SZ5DZ9">sign up here</a>.',
      },
      { title: 'Wā Ora Montessori School', description: 'During-school outreach to students in years 7 to 9.' },
      
      {
        title: 'South Wellington Intermediate School',
        description: 'During-school outreach to students in years 7 and 8.',
      },
      {
        title: 'Looking for more sessions',
        description:
          '<a class="text-primary" href="/contact">Contact us</a> if you know somewhere we could help as we would love to provide support.',
      },
    ]}
  />
  <Stats
    title="Stats"
    items={[
      { name: 'Kids', value: '500+' },
      { name: 'Locations', value: '10+' },
    ]}
  />
  <FAQs
    title="Frequently Asked Questions"
    items={[
      [
        {
          question: 'Who is this for?',
          answer:
            'We support and deliver content to students from years 5 to 13 in the Wellington, Lower & Upper Hutt regions.',
        },
        {
          question: 'How are we funded?',
          answer:
            'As a charitable trust we rely on sponsorships and donations from companies and the community; this allows us to run all of our sessions for free. If you or your company are interested in supporting us, we would love to talk to you.',
        },
        {
          question: 'How do I help out?',
          answer:
            'We are looking for anyone with an interest in technology from current University students to industry professionals, we would love if you would send us an email at <a href="mailto:contact@tuhuratech.org.nz" class="text-blue-600 hover:underline dark:text-gray-200">contact@tuhuratech.org.nz</a>.',
        },
      ],
      [
        {
          question: 'How do I get involved as a student?',
          answer:
            'If we are not already running sessions at your school, feel free to come to one of our after-school sessions at a nearby school, or ask your teacher to get in touch with us.',
        },
        {
          question: 'What areas of Technology do we cover?',
          answer:
            'We cover many areas of technology with a focus on expanding what is covered in schools — this includes areas such as robotics, cybersecurity, AI/ML and more.',
        },
        {
          question: 'Who are we?',
          answer:
            'We are a group of volunteers, teachers and industry professionals who all care about technology and want to support students.',
        },
      ],
    ]}
  />
  <CallToAction
    title="Come Join Us!"
    subtitle="We consist of a team of passionate staff and volunteers focused on Technology Education. Help with content, resources, volunteering, sponsorship, technology support, old hardware or any other domain is greatly appreciated."
    callToAction={{ text: 'Support Us', href: '/support-us' }}
  />
</Layout>
