---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';

const meta = {
  title: SITE.name,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
  <Hero
    title="Tūhura Tech"
    subtitle="Empowering the next generation through "
    subtitleColor="Technology Education"
    content="At Tūhura Tech, our mission is to provide free technology education to rangatahi in the Wellington region. We believe that every rangatahi should have the opportunity to learn about and engage with technology, regardless of their background or financial situation. Rather than having a hub we go into various communities bringing the tools and skills needed for equitable access to technology."
  />
  <Features
    title="Our Mahi"
    subtitle="We work across central Wellington, Lower Hutt, Upper Hutt and Porirua. We focus on providing free/affordable sessions and support to rangatahi aged 18 and under."
    items={[
      [
        {
          title: 'After School Sessions',
          description:
            'WWe run free after-school sessions at a variety of schools and community centres across school years 5-13 providing spaces where akonga can explore technology with the support of our staff and volunteers.',
          icon: 'tabler:code',
        },
        {
          title: 'Public Resources',
          description:
            'All the resources and guides we create are available for free and publicly under Creative Commons and MIT or AGPLv3+ Licences for software. We also have a range of resources for NCEA available.',
          icon: 'tabler:book',
        },
        {
          title: 'Workshops',
          description:
            'In collaboration with industry specialists and our other partners, we run one off workshops on a variety of topics from VEX Robotics to 3D Printing.',
          icon: 'grommet-icons:workshop',
        },
      ],
      [
        {
          title: 'In School Sessions',
          description:
            'We work closely with various schools to support their classes or run outreach sessions during school time to provide greater opportunities for akonga.',
          icon: 'tabler:school',
        },
        {
          title: 'Coaching',
          description:
            'Working across a range of subjects, we coach and support teams and akonga to compete in a variety of competitions, from cybersecurity to mechanical/electrical engineering.',
          icon: 'tabler:robot',
        },
        {
          title: 'Professional Development',
          description:
            'Using our experience at schools and within the industry, we work alongside digital technology kaiako to support their professional development.',
          icon: 'mdi:university',
        },
      ],
    ]}
  />

  <Features2
    title="Our Sessions"
    subtitle="These are the locations where we actively run sessions with more added all the time."
    items={[
      {
        title: "Wellington Girls' College",
        description: 'After school every Monday from 3:30pm to 5:30pm for students in years 9 to 13; no sign-up needed',
      },
      {
        title: 'Wellington High School',
        description:
          'After-school club every Tuesday from 3:30pm to 5:30pm for students in years 9 to 13; no sign-up needed.',
      },
      {
        title: 'Te Tūhunga Rau Community Centre',
        description:
          'Introduction to programming every Tuesday from 3:30pm to 5:00pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/uCXEsoksTq3tSEBfA">sign up here</a>.',
      },
      { title: 'Wellington East Girls College', description: 'During-school outreach to students in year 12 and 13.' },
      {
        title: 'Wellington College',
        description:
          'After-school club every Wednesday from 3:30pm to 5:30pm for students in years 9 to 13; no sign-up needed.',
      },
      {
        title: 'Te Whare Pukapuka o Te Māhanga - Karori Library',
        description:
          'Introduction to programming every Wednesday from 3:30pm to 5:30pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/PqwLGaTZJPuT4tLc6">sign up here</a>.',
      },
      {
        title: 'Ruakawa Community Centre',
        description:
          'Introduction to programming every Thursday from 3:30pm to 5:00pm for students in years 5 to 8; <a class="text-primary" href="https://forms.gle/yxiPE7ccqQ6SZ5DZ9">sign up here</a>.',
      },
      { title: 'Wā Ora Montessori School', description: 'During-school outreach to students in years 7 to 9.' },

      {
        title: 'South Wellington Intermediate School',
        description: 'During-school outreach to students in years 7 and 8.',
      },
      {
        title: 'Looking for more sessions',
        description:
          '<a class="text-primary" href="/contact">Contact us</a> if you know somewhere we could help as we would love to provide support.',
      },
    ]}
  />
  <Stats
    title="Stats"
    items={[
      { name: 'Rangatahi', value: '800+' },
      { name: 'Locations', value: '10+' },
    ]}
  />
  <FAQs
    title="Frequently Asked Questions"
    items={[
      [
        {
          question: 'Who is this for?',
          answer:
            'We support and deliver content to akonga from years 5 to 13 in the Wellington, Lower & Upper Hutt regions. We are wanting to expand into Porirua this year.',
        },
        {
          question: 'How are we funded?',
          answer:
            'As a charitable trust we rely on sponsorships and donations from companies and the community; this allows us to run all of our sessions for free. If you or your company are interested in supporting us, we would love to talk to you. Contact us at <a href="mailto:contact@tuhuratech.org.nz" class="text-blue-600 hover:underline dark:text-gray-200">contact@tuhuratech.org.nz</a>',
        },
        {
          question: 'How do I help out?',
          answer:
            'We are looking for people with an interest in technology and working with rangatahi from current University students to industry professionals. Contact us at <a href="mailto:contact@tuhuratech.org.nz" class="text-blue-600 hover:underline dark:text-gray-200">contact@tuhuratech.org.nz</a>.',
        },
      ],
      [
        {
          question: 'How do I get involved as a learner?',
          answer:
            'If we are not already running sessions at your school, feel free to come to one of our after-school sessions at a nearby school, or ask your kaiako to get in touch with us.',
        },
        {
          question: 'What areas of Technology do we cover?',
          answer:
            'We cover many areas of technology with a focus on expanding what is covered in schools — this includes areas such as robotics, cybersecurity, Artificial Intelligence/Machine Learning and more.',
        },
        {
          question: 'Who are we?',
          answer:
            'We are a group of volunteers, kaiako and industry professionals who all care about technology and want to support akonga.',
        },
      ],
    ]}
  />
  <CallToAction
    title="Join Us!"
    subtitle="We consist of a team of passionate staff and volunteers focused on Technology Education. Help with sponsorship, content, resources, volunteering, technology support, old hardware or any other domain is greatly appreciated."
    callToAction={{ text: 'Support Us', href: '/support-us' }}
  />
</Layout>
