---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import { headerData } from '~/data';
import Container from '~/components/widgets/Container.astro';

const meta = {
  title: SITE.title,
  description: 'Support Us',
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme position="center" />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero>
    <Fragment slot="title">Support Us</Fragment>
    <Fragment slot="subtitle">
      Without the support of our community, we would not be able to provide the resources and run the programs that we do.
    </Fragment>
  </Hero>
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl">
      <p class="text-lg leading-relaxed text-slate-500 mb-10 md:mb-20">
        Tūhura Tech is a registered charity meaning that we are a not-for-profit organisation focusing on the community rather then profit. We consist of a core team of paid staff and a large group of volunteers. We run a wide range of programs and events that are free to attend where we provide the resources and support to help people learn and grow. We are always looking for new ways to help the community and are always looking to partner and work with others to achieve this.
      </p>
    </div>
    <!-- Team -->
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Volunteer</h1>
      <p class="text-lg mt-4 text-slate-600">Join our team and volunteer with us!</p>
    </div>
    <div>
      Volunteers are the lifeblood of Tūhura Tech, whether you are a University student or seasoned professional, we have a role for you. We are always looking for new people to join our team and help us achieve our goals. We are constantly on the lookout for volunteers to donate 2 hours a week to help with our sessions or to donate time improving our services. If you are interested in volunteering with us, please fill out the form below and we will be in touch.
    </div>

    <!-- Board -->
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Sponsorship</h1>
      <p class="text-lg mt-4 text-slate-600">
        Running a charity is expensive and we are always looking for new ways to fund our programs and events. If you are interested in sponsoring us, please contact us at <a href="mailto:contact@tuhuratech.org.nz">contact@tuhuratech.org.nz</a>
      </p>
    </div>
    
  </Container>
  <div class="px-4 py-16 mx-auto max-w-6xl lg:py-20"></div>
</Layout>
