---
import { Image } from "astro:assets";
import heroImage from "@assets/hero.jpg";
---

<section class="bg-gray-50 pt-20 lg:py-32 flex items-center">
  <div class="container-custom relative">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <div>
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold leading-tight">
          Engaging <span class="gradient-text">rangatahi</span> through technology
        </h1>
        <p class="mt-6 text-xl text-gray-600 max-w-lg">
          We provide accessible, hands-on tech experiences with and for young people — in schools, libraries, and communities. For Free; We bring the gear, mentors, and kaupapa.
        </p>
        <div class="mt-8 flex flex-col sm:flex-row gap-4">
          <a href="/mahi" class="btn btn-primary">Explore our mahi</a>
          <a href="/support-us" class="btn btn-secondary">Partner with us</a>
        </div>
      </div>
      <div class="">
        <div class="relative">
          <div
            class="absolute -inset-0.5 bg-tuhura-green rounded-xl blur opacity-30"
          >
          </div>
          <div class="relative bg-white rounded-xl shadow-xl overflow-hidden">
            <Image
              src={heroImage}
              alt="Tūhura Tech"
              class="w-full h-auto"
              width={700}
              height={500}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
