---

---

<section
  class="py-20 bg-gradient-to-r from-tuhura-green to-tuhura-blue text-white relative overflow-hidden"
>
  <!-- Animated background elements -->
  <div class="absolute inset-0 overflow-hidden opacity-10">
    <div
      class="absolute -top-40 -left-40 w-80 h-80 bg-white rounded-full blur-3xl"
    >
    </div>
    <div
      class="absolute top-40 -right-20 w-60 h-60 bg-white rounded-full blur-3xl"
      style="animation-delay: 1s;"
    >
    </div>
    <div
      class="absolute -bottom-40 left-1/3 w-80 h-80 bg-white rounded-full blur-3xl"
      style="animation-delay: 2s;"
    >
    </div>
  </div>

  <div class="container-custom relative">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl md:text-4xl font-bold">Signup to our Newsletter</h2>
      <p class="mt-6 text-xl opacity-90">
        Signup for updates on what we are up to, how you can get involved and
        all our events.
      </p>
      <div class="mt-10 flex flex-col justify-center gap-4">
        <script
          src="https://cdn.jsdelivr.net/ghost/signup-form@~0.2/umd/signup-form.min.js"
          data-label-1="website"
          data-button-color="#6aa469"
          data-button-text-color="#FFFFFF"
          data-site="https://blog.tuhuratech.org.nz/"
          data-locale="en"
          async
          is:inline></script>
      </div>
    </div>
  </div>
</section>
