---
const partners = [
  {
    name: "WellingtonNZ",
    logo: "/partner-wnz.svg",
    href: "https://wellingtonnz.com",
  },
  {
    name: "Bastion Security Group",
    logo: "/partner-bsg.svg",
    href: "https://www.bastionsecurity.co.nz/",
  },
  {
    name: "Hutt City Council",
    logo: "/partner-hcc.svg",
    href: "https://wellingtonnz.com",
  },
  {
    name: "Spark Foundation",
    logo: "/partner-spark.svg",
    href: "https://wellingtonnz.com",
  },
];
---

<section class="py-16 bg-white relative overflow-hidden">
  <div class="container-custom">
    <div class="text-center">
      <h3 class="text-gray-500 font-medium tracking-wider">
        THANKS TO OUR AMAZING SUPPORTERS
      </h3>
    </div>

    <div
      class=`mt-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-${partners.length} gap-8 items-center justify-items-center`
    >
      {
        partners.map((partner, _) => (
          <div class="group cursor-pointer">
            <a href={partner.href} class="relative p-4 rounded-lg">
              <img
                src={partner.logo}
                alt={partner.name}
                class="h-12 w-auto mx-auto transform group-hover:scale-110"
              />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
