---
interface Props {
  stats: { title: string; value: string; description: string }[];
}
const { stats } = Astro.props;
---

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8">
    {
      stats.map((stat) => (
        <div>
          <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">
            {stat.title}
          </h4>
          <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-primary">
            {stat.value}
          </p>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">
            {stat.description}
          </p>
        </div>
      ))
    }
  </div>
</div>
