---
import logo from '~/assets/images/logo.png'
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-zinc-900 whitespace-nowrap dark:text-white">
	<img src={logo.src} style="height: 2em;" alt="Tūhura Tech" />
</span>
