---
import logo from '~/assets/images/logo.png';
import logoDark from '~/assets/images/logo-dark.png';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-zinc-900 whitespace-nowrap dark:text-white">
  <img src={logoDark.src} style="height: 2em;" alt="Tūhura Tech" class="hidden dark:block" />
  <img src={logo.src} style="height: 2em;" alt="Tūhura Tech" class="block dark:hidden" />
</span>
