---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import { footerData, headerData } from '~/data';

const { meta } = Astro.props;
---

<Layout {meta}>
  <Header {...headerData} />
  <main>
    <slot />
  </main>
  <Footer {...footerData} />
</Layout>
