on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: true

      - name: Lint project
        run: pnpm run lint:ci --css-parse-tailwind-directives=true

      - name: Prettier check
        run: pnpm run format:check

      - name: Astro Check
        run: pnpm run check

      - name: Build project
        run: pnpm run build
